.courses-page {

}

.courses-catalog {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
}

.card {
  height: 350px;
  box-shadow: $bs;
  cursor: pointer;
  transition: $tr-primary;

  &:hover {
    box-shadow: $bs-hover;
  }
}