.layout-default {
  @include parent-size;
  display: grid;
  grid-template-areas:
  'header'
  'main';
  grid-template-columns: 1fr;
  grid-template-rows: #{$header-height} 1fr;
  background: $cl-primary-light;

  &__header {
    grid-area: header;
    border-bottom: $border-solid;
  }

  &__main {
    grid-area: main; 
  }
}

.header-logo {
  &__icon {
    font-size: 48px;
  }

  &__title {
    font-size: 32px;
  }
}
